.content {
    font-size: 15px;
}

/*
    .class

    #id
*/

article {
    float: left;
    width: 200px;
    margin-right: 10px;
    border: 1px solid rgb(50, 11, 124);
    text-align: center;
}

article img {
    /* border: 1px solid #DDD; */
    height: 180px;
    max-width: 200px;
    object-fit: cover;
}

.img-center {
    position: relative;
    height: 200px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #DDD;
}

.img-center img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-img {
    height: 300px;
    width: 100%;
    background-image: url(https://r4.wallpaperflare.com/wallpaper/142/751/831/landscape-anime-digital-art-fantasy-art-wallpaper-9b468c3dc3116f4905f43bc9cddc0cf0.jpg);
    background-size: cover;
    background-position: bottom;
}